  <div class="pscont">
  <div>
      <div class="pscol">
          <h3><%= link_to post.title, post_path(post) %></h3>
          <h6><%= post.summary %></h6>
        <div class="crpst">
          <small>Created by: <%= post.user.email %></small>
          <small>Created at: <time><%= post.created_at.to_date.strftime("%e %B, %Y") %></time></small>
        </div>
      </div>
  </div>
  </div>
  <br>