    <div class="post">
      <p class="date"><%= post.created_at.to_date.strftime("%d %B %Y") %></p>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <h6><%= post.summary %></h6>
      <p class="date"><%= post.user.email %></p>
      <hr>
    </div>