<h1 id="page_title">Editing Post</h1>

<div class="skinny_wrapper wrapper_padding">
	<%= render 'form', post: @post %>
<div class="wrapper_padding">
	<%= link_to 'Show', @post, class: "button" %> 
</div>
</div>