article.post
    margin-bottom: 1em
    padding: 1em 0
    border-bottom: 1px solid black
    h2, h1
        margin-bottom: 0
    section.post-user
        padding: .5em 0
    section.post-body
        padding-top: 1em
div.container-show, .newform, .editform
        background-color: #bab5b4
        border-radius: 1em
.container-cont, .contnew, .contedit
        margin-left: 1em
        margin-right: 1em
div.login
        color: #12c4f8 
        text-align: center
        position: relative
        background-color: #2f3537
        margin-left: 37%
        margin-top: 12%
        display: inline-block
        padding-left: 20px
        padding-right: 20px
.pscont
        border: solid
        border-radius: 1em
        border-width: 1px
        background-color: #2f3537 
        color: #12c4f8
.pscol
        margin-left: 1em
        margin-right: 1em
.crpst
        border: solid
        border-width: 1px 0 0 0
        text-align: center
.forposts
        padding-right: 20em
.img-show
        display: block
        margin-bottom: 2em 
