article.post
    margin-bottom: 1em
    padding: 1em 0
    border-bottom: 1px solid black
    h2, h1
        margin-bottom: 0
    section.post-user
        padding: .5em 0
    section.post-body
        padding-top: 1em
div.container-show
        background-color: #bab5b4
div.container-cont
        margin-left : 4em
        margin-right : 4em
div.login
        color: #12c4f8 
        text-align: center
        background-color: #2f3537
        margin-left: 37%
        margin-top: 12%
        display: inline-block
        padding-left: 20px
        padding-right: 20px
div.my-col
        display: inline-block
div.forposts
        margin-left: 14%
        width: 67em
